// @import 'src/css/_mixins.scss'

// /* This is an example of using Sass, otherwise plain CSS works too*/
$nope: none;
$primary-color: #0A0E14;
$error-color: #ef2121;
$goldieLocks: center;
$coverAll: cover;

//mixins
@mixin giveBorderRadius($val) {
  border-radius: $val;
}

@mixin setGridGap($rems) {
  grid-gap: $rems;
}

@mixin defineElGridArea($el) {
  grid-area: $el;
}

@mixin setHeight($amt) {
  height: $amt;
}

@mixin chooseDisplay($type) {
  display: $type;
}

//SELECTOR STYLING
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  @include setHeight(100%);
  padding: 0;
  margin: 0;
  background: $primary-color;
}

// PAGE LOGIN
.container-login {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 5fr 8fr 0.4fr;
  grid-template-areas: "nav-l nav-l nav-l nav-l"
  "sidebar-l main-l main-l main-l"
  "sidebar-l main-l main-l main-l"
  "sidebar-l main-l main-l main-l";
  @include chooseDisplay(grid);
  @include setGridGap(0.5rem);
  @include setHeight(100vh)
}

.nav-login {
  background: #A68776;
  color: #0A0E14;
  @include defineElGridArea(nav-l);
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-align: $goldieLocks;
  font-size: 55px;
}

.login-err-msg {
  font-size: 26px;
  color: $error-color;
}

.main-login {
  // background-image: url(../images/over-overlook.png);
  // background-size: $coverAll;
  grid-area: main-l;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: $goldieLocks;
  align-items: $goldieLocks;
  color: #0A0E14;
  background-color: #A3A64E;
  // text-shadow: 3px 3px black;
  font-weight: bold;
  @include giveBorderRadius(10px);

  .username {
    margin-top: 235px;
    background: $nope;
    border-top: $nope;
    border-right: $nope;
    border-left: $nope;
    border-bottom: 2px solid black;
    font-size: 20px;
    @include setHeight(1.5rem);
  }

  .password {
    margin-top: 35px;
    background: $nope;
    border-top: $nope;
    border-right: $nope;
    border-left: $nope;
    border-bottom: 2px solid $primary-color;
    font-size: 20px;
    @include setHeight(1.5rem);
  }

  .login-btn {
    margin-top: 29px;
    margin-left: 20px;
    width: 10%;
    border: 3px solid #0A0E14;
    background: $nope;
    color: #0A0E14;
    font-size: 20px;
    font-weight: bold;
    // text-shadow: 3px 3px #040404;
    @include giveBorderRadius(4px);
    @include setHeight(35px);

    &:hover {
      background: #A68776;
      color: #0A0E14;
      // text-shadow:  2px 2px #5cd29d;
      border: 2px solid #0A0E14;
    }

  }

  .label {
    font-size: 26px;
    color: #0A0E14;
    margin-right: 30px;
  }

}

.aside-login {
  background:#A68776;
  color: $primary-color;
  grid-area: sidebar-l;
  padding-top: 150px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  text-align: $goldieLocks;
  font-size: 22px;
  font-weight: bold;
  @include giveBorderRadius(10px);
}

// MAIN DASHBOARD
.container-main {
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 5.5fr 1fr;
  grid-template-areas: "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "sidebar content1 content2 content3";
  @include chooseDisplay(grid);
  @include setGridGap(0.5rem);
  @include setHeight(100vh);
}

.nav-bar {
  background: #A68776;
  grid-area: nav;
  font-size: 32px;
  color: #0A0E14;
  text-align: $goldieLocks;
  margin: 0.5rem 0.5rem 0 0.5rem;
  @include giveBorderRadius(10px);

  p {
    font-size: 22px;
    font-weight: bold;
    color: #0A0E14;
  }
}

.logout {
  width: 8%;
  background: $nope;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid $primary-color;
  @include giveBorderRadius(7px);

  &:hover {
    background: #B3B656;
  }
}

main {
  background: #A3A64E;
  grid-area: main;
  margin-right: 0.5rem;
  text-align: $goldieLocks;
  @include giveBorderRadius(10px);
}

.booking-err-msg {
  color:#ed4545
}

.room-filter-area {
  background: #A3A64E;
  grid-area: main;
  margin-top: 0;
  margin-right: 0.5rem;
  padding-bottom: 10px;
  text-align: $goldieLocks;
  color: #0A0E14;
  @include giveBorderRadius(10px);

  input {
    width: 230px;
    font-size: 18px;
    color: #0A0E14;
    background: $nope;
    margin-top: 4px;
    border: 2px solid #0A0E14;
    @include giveBorderRadius(10px);

    &:hover {
      background: #A68776;
    }
  }
}

.book-it-btn {
  width: 130px;
  // height: 3vh;
  margin-top: 30px;
  // position: relative;
  color: #0A0E14;
  border: 2px solid #0A0E14;
  background: $nope;
  font-size: 18px;
  font-weight: bold;
  @include giveBorderRadius(4px);

  &:hover {
    background: #A68776;
  }
}

form {
  font-size: 20px;
}

.date {
  font-size: 14px;
  color: #0A0E14
}

.booking-err-msg {
  position: absolute;
  color: $error-color;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 55px;
  margin-left: 350px;
  text-align: justify;
  text-shadow: 0.1px 1px $primary-color;
}

.sidebar {
  // background-image: url(../images/overlook-skypool.png);
  // background-size: $coverAll;
  background-color: #A68776;
  grid-area: sidebar;
  text-align: $goldieLocks;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  overflow: scroll;
  @include giveBorderRadius(10px);
  
  h2 {
    color: #0A0E14;
    // text-shadow: 1px 3px whitesmoke;
  }

  p {
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #0A0E14;
    // text-shadow: 1px 3px whitesmoke;
  }

  .details-btn {
    border: 3px solid #0A0E14;
    border-radius: 4px;
    background: $nope;
    height: 2.8rem;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
    // text-shadow: 1.5px 1.5px whitesmoke;
    @include giveBorderRadius(4px);

    &:hover {
      background: #B3B656;
      color: #0A0E14;
      border: 3px solid #0A0E14;
      // text-shadow: 1.5px 1.5px #56cbf9;
    }

  }

  .hide-details-btn {
    border: 3px solid $primary-color;
    color: $primary-color;
    // text-shadow: 1.5px 1.5px whitesmoke;
    background: $nope;
    font-size: 20px;
    font-weight: bold;
    height: 2.8rem;
    @include giveBorderRadius(4px);

    &:hover {
      &:hover {
        background: #B3B656;
        color: $primary-color;
        border: 3px solid $primary-color;
        // text-shadow: 1.5px 1.5px #56cbf9;
      }
    }
  }

  li { 
    font-size: 20px;
    background: #B3B656;
    margin-right: 35px;
    padding: 10px;
    color: $primary-color;
    border: 3px solid $primary-color;
    list-style-type: $nope;
    box-shadow: 10px 5px 5px $primary-color;
  } 
}

.apology {
  text-align: center;
  background-color: #A68776;
  color: $primary-color;
}

hr {
  border: 1.5px solid $primary-color;
  background: $primary-color;
}

.rooms-display {
  grid-area: content1;
  width: 200%;
  align-items: $goldieLocks;
  overflow: scroll;
}

.book-room {
  background: $nope;
  border: 2px solid $primary-color;
  @include giveBorderRadius(5px);

  &:hover {
    background: #B3B656;
  }
}

.confirm-btn {
  background: $nope;
  border: 2px solid $primary-color;
  @include giveBorderRadius(5px);

  &:hover {
    background: #A68776;
  }
}

.room {
  font-size: 20px;
  background: #A68776;
  margin-left: 50%;
  padding: 10px;
  border: 2px solid $primary-color;
  text-align: $goldieLocks;
  @include giveBorderRadius(10px);
}

.rooms-display-title {
  color: $primary-color;
  text-align: $goldieLocks;
}

.selected-room {
  background: #B3B656;
  grid-area: content2;
  font-size: 14px;
}

.content {
  color: #0A0E14;
  font-size: 20px;
  margin-bottom: 0.5rem;
  text-align: $goldieLocks;
  color: $primary-color;
  // text-shadow: 2px 1.5px #638475;
  h2 {
    margin-top: 2px;
  }
}

.content-1 {
  background-image: url(../images/overlook-suite.png);
  background-size: $coverAll;
  grid-area: content1;
  @include giveBorderRadius(10px);
}

.content-2 {
  background-image: url(../images/overlook-queen.png);
  background-size: $coverAll;
  grid-area: content2;
  @include giveBorderRadius(10px);
}

.content-3 {
  background-image: url(../images/overlook-junior.png);
  background-size: $coverAll;
  grid-area: content3;
  margin-right: 0.5rem;
  @include giveBorderRadius(10px);
}

.hidden {
  @include chooseDisplay($nope);
}


//MEDIA QUERIES
// @media only screen and (max-width: 768px) {
  
//   .container-login {
//     @include chooseDisplay(flex);
//     flex-direction: column;
//   }

//   .aside-login {
//     background:#805e73;
//     color: $primary-color;
//     height: 100%;
//     padding-top: 35px;
//     margin-bottom: 0.5rem;
//     margin-left: 0.5rem;
//     margin-right: 0.5rem;
//     text-align: $goldieLocks;
//     font-size: 22px;
//     font-weight: bold;
//     @include giveBorderRadius(10px);
//   }

//   .main-login {
//     margin-right: 0.5rem;
//     margin-left: 0.5rem;
//   }

// }