// @import 'src/css/_mixins.scss'

// /* This is an example of using Sass, otherwise plain CSS works too*/
$nope: none;
$primary-color: black;
$error-color: red;
$goldieLocks: center;
$coverAll: cover;


//mixins
@mixin giveBorderRadius($val) {
  border-radius: $val;
}

@mixin setGridGap($rems) {
  grid-gap: $rems;
}

@mixin defineElGridArea($el) {
  grid-area: $el;
}

@mixin setHeight($amt) {
  height: $amt;
}

@mixin chooseDisplay($type) {
  display: $type;
}


//SELECTOR STYLING
body {
  @include setHeight(100%);
  padding: 0;
  margin: 0;
  background: $primary-color;
}

// PAGE LOGIN
.container-login {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 5fr 8fr 0.4fr;
  grid-template-areas: "nav-l nav-l nav-l nav-l"
  "sidebar-l main-l main-l main-l"
  "sidebar-l main-l main-l main-l"
  "sidebar-l main-l main-l main-l";
  @include chooseDisplay(grid);
  @include setGridGap(0.5rem);
  @include setHeight(100vh)
}

.nav-login {
  background: #638475;
  color: #56cbf9;
  @include defineElGridArea(nav-l);
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-align: $goldieLocks;
  font-size: 55px;
}

.login-err-msg {
  font-size: 26px;
  color: $error-color;
}

.main-login {
  background-image: url(../images/over-overlook.png);
  background-size: $coverAll;
  grid-area: main-l;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: $goldieLocks;
  align-items: $goldieLocks;
  color: $primary-color;
  text-shadow: 2px 2px #a6daef;
  font-weight: bold;
  @include giveBorderRadius(10px);

  .username {
    margin-top: 235px;
    background: $nope;
    border-top: $nope;
    border-right: $nope;
    border-left: $nope;
    border-bottom: 2px solid black;
    font-size: 20px;
    @include setHeight(1.5rem);
  }

  .password {
    // height: 1.5rem;
    margin-top: 35px;
    background: $nope;
    border-top: $nope;
    border-right: $nope;
    border-left: $nope;
    border-bottom: 2px solid $primary-color;
    font-size: 20px;
    @include setHeight(1.5rem);
  }

  .login-btn {
    margin-top: 29px;
    margin-left: 20px;
    width: 120px;
    border: 3px solid $primary-color;
    background: $nope;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px #040404;
    @include giveBorderRadius(4px);
    @include setHeight(35px);
  }

  .label {
    margin-right: 30px;
  }

}

.aside-login {
  background:#805e73;
  color: #56cbf9;
  grid-area: sidebar-l;
  padding-top: 150px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  text-align: $goldieLocks;
  font-size: 22px;
  @include giveBorderRadius(10px);
}



// MAIN DASHBOARD
.container-main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 5fr 8fr 0.4fr;
  grid-template-areas: "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "sidebar content1 content2 content3";
  @include chooseDisplay(grid);
  @include setGridGap(0.5rem);
  @include setHeight(100vh);
}

.nav-bar {
  background: rgb(139, 165, 108);
  grid-area: nav;
  font-size: 42px;
  text-align: $goldieLocks;
  padding-top: 60px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  @include giveBorderRadius(10px);

  p {
    font-size: 22px;
    color: $primary-color;
  }

}


main {
  background: #78c5e6;
  grid-area: main;
  margin-right: 0.5rem;
  text-align: $goldieLocks;
  @include giveBorderRadius(10px);
}

.room-filter-area {
  background: #78c5e6;
  grid-area: main;
  margin-right: 0.5rem;
  text-align: $goldieLocks;
  @include giveBorderRadius(10px);

  button {
    margin-top: 15px;
    font-size: 18px;
    background: $nope;
    border: 2px solid $primary-color;
    @include giveBorderRadius(10px);
  }

}

form {
  font-size: 20px;
}

.date {
  font-size: 18px;
}

.booking-err-msg {
  position: absolute;
  color: $error-color;
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 395px;
}

.book-it-btn {
  position: relative;
  border: 2px solid #2a2929;
  background: $nope;
  font-size: 18px;
  margin-top: 15px;
  @include giveBorderRadius(4px);
}

.sidebar {
  background-image: url(../images/overlook-skypool.png);
  background-size: $coverAll;
  grid-area: sidebar;
  text-align: $goldieLocks;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  overflow: scroll;
  @include giveBorderRadius(10px);
  
  h2 {
    text-shadow: 1px 3px #a6daef;
  }

  p {
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    text-shadow: 1px 3px #a6daef;
  }

  .details-btn {
    border: 2px solid $primary-color;
    border-radius: 4px;
    background: $nope;
    height: 2.8rem;
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    text-shadow: 1.5px 1.5px #a6daef;
    @include giveBorderRadius(4px);
  }

  .hide-details-btn {
    border: 2px solid $primary-color;
    color: $primary-color;
    text-shadow: 1.5px 1.5px #a6daef;
    background: $nope;
    font-size: 24px;
    font-weight: bold;
    height: 2.8rem;
    @include giveBorderRadius(4px);
  }

  li { 
    font-size: 20px;
    background: rgb(249, 248, 246);
    margin-right: 35px;
    padding: 10px;
    border: 2px solid $primary-color;
    list-style-type: $nope;
    box-shadow: 10px 5px 5px #7070ae;
  } 
}

hr {
  border: 1.5px solid $primary-color;
  background: $primary-color;
}

.rooms-display {
  grid-area: content1;
  align-items: $goldieLocks;
  overflow: scroll;
}

.room {
  font-size: 20px;
  background: rgb(249, 248, 246);
  margin-left: 50%;
  padding: 10px;
  border: 2px solid $primary-color;
  text-align: $goldieLocks;
  @include giveBorderRadius(10px);
}

.rooms-display-title {
  color:rgb(249, 248, 246);
  text-align: $goldieLocks;
}

.selected-room {
  background: rebeccapurple;
  grid-area: content2;
}

.content {
  margin-bottom: 0.5rem;
  text-align: $goldieLocks;
}

.content-1 {
  background-image: url(../images/overlook-suite.png);
  background-size: $coverAll;
  grid-area: content1;
  @include giveBorderRadius(10px);
}

.content-2 {
  background-image: url(../images/overlook-queen.png);
  background-size: $coverAll;
  grid-area: content2;
  @include giveBorderRadius(10px);
}

.content-3 {
  background-image: url(../images/overlook-junior.png);
  background-size: $coverAll;
  grid-area: content3;
  margin-right: 0.5rem;
  @include giveBorderRadius(10px);
}

.hidden {
  @include chooseDisplay($nope);
}


//MEDIA QUERIES
@media only screen and (max-width: 768px){
  .container-login {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 5fr 8fr 0.4fr;
    grid-template-areas: "nav-l nav-l nav-l nav-l"
    "main-l main-l main-l main-l"
    "sidebar-l sidebar-l sidebar-l sidebar-l";
    @include chooseDisplay(grid);
    @include setGridGap(0.5rem);
    @include setHeight(100vh)
  }

  .aside-login {
    background:#805e73;
    color: #56cbf9;
    grid-area: sidebar-l;
    padding-top: 35px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    text-align: $goldieLocks;
    font-size: 20px;
    @include giveBorderRadius(10px);
  }

  .login-btn {
    margin-top: 29px;
    margin-bottom: 20px;
    width: 120px;
    border: 3px solid $primary-color;
    background: $nope;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px #040404;
    @include giveBorderRadius(4px);
    @include setHeight(35px);
  }

  //DASHBOARD 768PX MAX
  .container-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 10%;
    @include chooseDisplay(grid);
    @include setGridGap(0.5rem);
    @include setHeight(100vh);
  }

}